@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="~/Notes/Index">Create Notes</a></p>
    <p><a href="~/Notes/Delete">Delete Notes</a></p>
    <p><a href="~/Notes/Details"> Note Details</a></p>
    <p><a href="~/Notes/Edit">Edit Notes</a></p>
    <p><a href="~/Notes/ShowSearchForm">Search Notes</a></p>




</div>

